html{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: yellow;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}
.left-group{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 50px;

}
.right-group{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 0 50px;
}

.search-bar{
    padding-bottom: 15px;
}
.left-subgroup{
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}


h3,p,h1{
    margin: 0;
}
button{
    background-color: aqua;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    flex-shrink: 0;
}
input{
    width: clamp(100%,45vw,50vw);
    height: 30px;
    border-radius: 20px;
    padding: 2px 10px;
}
input:focus{
    border: 2px solid;
    border-color: rgba(255,255,255, 0.6);
    background-color: rgb(237, 246, 250);
}


.sidebar{
    background-color: aqua;
    grid-column: span 1;
    grid-row: 1/6;
     display: flex;
    flex-direction: column;
    padding-left: 4%;
}
.content{
    background-color: white;
    grid-column: 2/4;
    grid-row: 2/6;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 60px 1fr;
    gap: 20px;
}
.right-title{
    grid-column: 2/3;    
}
.left-title{
    grid-column: 1/2; 
}

.right-title, .left-title{
    align-self: flex-end;
    padding-left: 20px;
    font-size: x-large;
    font-weight: 600;

}
.article{
    display: grid;
    padding-left: 20px;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    box-sizing: border-box;
    font-size: 18px;
    height: 350px;
    width: 100%;
    padding: 2%;
    background-color: white;
    border-radius: 25px;
    border-left: 8px solid orange;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.card-actions{
    padding: 10px 10px 0 0;
    align-self: flex-end;
    display: flex;
    gap: 5px;
}
body{
    padding: 0;
    margin: 0; 
    display: grid;
    grid-template-columns: 20em 1fr;
    grid-template-rows: min-content auto auto auto;
}


.logo{
    height: 10%;
    display: flex;
    align-items: center;
    font-size: 3rem;
    padding-right: 4%;
    margin-bottom: 20px;
}
.logo svg{
    height: 80px;
    width: 80px;
}
.menu-item{
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 6%;
} 
.main-menu{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}







/*Delete if you mess up*/
.announcement-card-bottom p ,
.announcement-card-top p{
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden; 
    text-overflow: ellipsis;
  }
  
  .announcement-card-bottom div,
.announcement-card-top div{
    height: fit-content;
    box-sizing: border-box;
    padding: 10px;
    border-bottom: 2px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.announcement-card-bottom,
.announcement-card-top{
    background-color: wheat;
    height: 600px;
    border-radius: 20px;
    width: 400px;
    padding: 0 10px 0 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(100px,1fr));
    justify-content: start;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.announcements{
    margin-right: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    justify-items: center;
}

















svg{
    height: 30px;
    width: 30px;
    min-width: 30px;
    fill: white;
}
img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.card-actions svg{
    fill: black;
}
.left-group img {
    height: 80px;
    width: 80px;
}